
body {
	margin: 10px;
}

#left-column {
	float: left;
}

#right-column {
	margin-top: 20px;
	margin-left: 20px;
}

.board-blockade {
    outline: 8px solid black;
    margin: 16px;
    border-collapse: separate;
}

.board-blockade tr td {
    width: 25px;
    height: 25px;
    border: 2px solid black;
}

#state-slider {
    width: 400px;
    margin: 16px;
}

#player-selector-table {
	margin: 16px;
}

#player-selector-table tr td {
	width: 100px;
	height: 40px;
	outline: 1px solid black;
	text-align: center;
	vertical-align: middle;
}

#player-selector-table tr:first-child {
	background-color: #cccccc;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 16px;
	font-weight: bold;
}

#player-selector-table tr td:first-child {
	width: 50px;
}

.rows-cols-slider {
    width: 150px;
    margin: 16px;
}

#player-descriptions {
	margin-top: 10px;
}

#player-descriptions tr:first-child td {
	background-color: #dddddd;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 16px;
	font-weight: bold;
	height: 20px;
}

#player-descriptions tr td {
	padding: 8px 16px;
	vertical-align: middle;
	height: 40px;
}

#player-descriptions tr td:nth-child(1) {
	width: 80px;
	font-weight: bold;
}

#player-descriptions tr td:nth-child(2) {
	width: 400px;
}

#results-table {
	margin-top: 10px;
	margin-bottom: 40px;
}

#results-table tr:first-child td {
	background-color: #dddddd;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 16px;
	font-weight: bold;
	height: 20px
}

#results-table tr td {
	padding: 8px 16px;
	text-align: center;
	vertical-align: middle;
	height: 20px;
}

#results-table tr td:nth-child(1) {
	font-family: Helvetica, Arial, Sans-Serif;
	width: 60px;
	font-weight: bold;
}

#results-table tr td:nth-child(2) {
	width: 100px;
}

#results-table tr td:nth-child(3) {
	width: 80px;
}
